[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
[submodule "CImg"]
	path = CImg
	url = https://github.com/dtschump/CImg
